{:config-paths ["../clj-kondo.exports/com.rpl/rama"]
 :linters {:unresolved-var {:exclude [com.rpl.rama-hooks/illegal-forms
                                      com.rpl.rama-hooks/*context*
                                      com.rpl.rama-hooks/defrecord+-hook
                                      com.rpl.rama-hooks/foreign-select-hook
                                      com.rpl.rama-hooks/query-topology-hook
                                      com.rpl.rama-hooks/sources-hook
                                      com.rpl.rama-hooks/known-depot-names
                                      com.rpl.rama-hooks/declare-depot-hook
                                      com.rpl.rama-hooks/declare-tick-depot-hook
                                      com.rpl.errors/syntax-error-keyword-fn-in-dataflow
                                      com.rpl.errors/syntax-error-lambda-fn-in-foreign-select
                                      com.rpl.errors/syntax-error-illegal-special-form
                                      com.rpl.errors/syntax-error-java-interop-in-dataflow
                                      com.rpl.errors/info-unverifiable-pobject!]}}}
