[{:name "rama-clojure-starter"
  :repo "https://github.com/redplanetlabs/rama-clojure-starter.git"
  :sha "f2005b8e35fecab106312c1e1c26c887b5a49f2f"
  :paths ["src"]
  :findings-file "test-regression/com/rpl/rama_hooks/fixtures/rama_clojure_starter_findings.edn"}
 {:name "rama-demo-gallery"
  :repo "https://github.com/redplanetlabs/rama-demo-gallery.git"
  :sha "4b04b78e3ac0e39c8ec77c62c1723d7c562db68b"
  :paths ["src/main/clj"]
  :findings-file "test-regression/com/rpl/rama_hooks/fixtures/rama_demo_gallery_findings.edn"}
 {:name "rama-tpcc"
  :repo "/Users/duncan/projects/rpl/rama-tpcc"
  :sha "be7e3f2ba4ae6106a8587664b410fd7e5af65e78"
  :paths ["src/clj" "test"]
  :findings-file "test-regression/com/rpl/rama_hooks/fixtures/rama_tpcc_findings.edn"}]
